.linkStyle{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

.linkStyle:hover {
  background-color: #111;
}

.nav{
  overflow: hidden;
  background-color: #333;
}
/* nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} */

/* .linkStyle {
  float: left;
}

nav{
  display: block;
  color: white;
  text-align:left;
  padding: 14px 16px;
  text-decoration: none;
}

.linkStyle{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 85px;
  padding: 14px 16px;
  text-decoration: none;
} */
/* Change the link color to #111 (black) on hover */
